hydralit_components==1.0.9
ipython==8.4.0
matplotlib==3.5.1
mlxtend==0.20.0
numpy==1.22.3
pandas==1.4.1
Pillow==9.2.0
plotly==5.6.0
pytrends==4.8.0
requests==2.27.1
scikit_learn==1.1.2
seaborn==0.11.2
statsmodels==0.13.2
streamlit==1.10.0
streamlit_echarts==0.4.0
streamlit_lottie==0.0.3
tensorflow
xgboost==1.6.2
keras
